.list {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
	transform: translate3d(0, 0, 0);
}

@for $i from 0 through 50 {
	li.itemAppear:nth-of-type(#{$i + 1}){
		transition-delay: $i/10 + s;
	}
}

.itemAppear{
	transform: translateX(-100%);
	opacity: 0;
	&.itemAppearActive{
		transform: translateX(0);
		opacity: 1;
		transition-timing-function: ease-out;
		transition: opacity .4s, transform .4s;
	}
}

.itemEnter{
	transform: translateX(-100%);
	opacity: 0;
	height: 0;
	transform-origin: center top;
	&.itemEnterActive{
		transform: translateX(0);
		opacity: 1;
		height: 65px;
		transition-timing-function: ease-out;
		transition: height .2s, opacity .3s .2s, transform .3s .2s;
	}
}

.itemLeave{
	transform: translateX(0);
	opacity: 1;
	height: 65px;
	&.itemLeaveActive{
		transform: translateX(-100%);
		opacity: 0;
		height: 0;
		transition: height .2s .3s, opacity .3s .1s, transform .3s cubic-bezier(.84, -0.23, .51, .7);
	}
}
